<h1>Welcome to Gossip Hollywood Gurl!</h1>

<p>Here we have only one thing we want to share, and that is all the shitty things our bosses make us do in the entertainment industry. Post gossip, comment on other gossip, and give sound advice. Have fun! #GHG</p>
