<h1>POSTS PAGE</h1>


<%= link_to "Create a Post!", new_post_path %>

<ul>
  <% @posts.each do |p| %>
    <li><%= p.title %>
    <br>
    <%= p.user_name %>
    <br>
    <%= p.body %>
    </li>
    <% end %>
</ul>
