<div class="container text-center">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading text-center">
                    <h2>Create some gossip! The jucier the better...</h2>
                    <br>
                    <h4>Only thing required is a Title and a Story.<br> Be as vague or as specific as you want!</h4>
                </div>
                <div class="text-center">
                <div class="panel-body">
                    <%= render 'form' %>
                </div>
                <div>
                  <%= link_to "Home Page", root_path %>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
